:root {
  --blue-gray: #3B3858;
  --blue-gray-dark: #120C4D;
  --blue-gray-light: #858D97;
  --no-mask: #FF6496;
  --no-mask-bg: #FDF8FF;
  --mask: #38D3EB;
  --mask-bg: #F4FDFF;
  --wrong-mask: #FEB547;
  --wrong-mask-bg: #FFF8ED;
}

/* style previous on html */
.bg-steel {
  background-color: var(--blue-gray);
}

.site-header .navbar-nav .nav-link {
font-family: 'DM Sans', sans-serif;
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
font-family: 'DM Sans', sans-serif;
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
font-family: 'DM Sans', sans-serif;
  font-weight: 500;
}

#body {			
/*background-color: #fbfbfb;*/
margin:0;
padding:0;
overflow: hidden;
}

canvas {
margin:auto;
}

#container{
padding-top: 20px;
}

/* new style */
.btn-start {
  display: inline-block;
  font-weight: 400;
  font-family: 'DM Sans', sans-serif;
  color:white;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: var(--blue-gray);
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.5rem;
  margin: 4px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn-start {
    transition: none;
  }
}

.btn-start:hover {
  color: white;
  text-decoration: none;
  background-color: var(--blue-gray-dark);
}

.btn-start:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-start.disabled, .btn:disabled {
  opacity: 0.65;
}

a.btn-start.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

/*Isabella*/

.mask-on-bg {
  background-color: var(--mask-bg);
}

.mask-on-title {
  color: var(--mask);
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 104px;
  line-height: 100%;
}

.mask-off-bg {
  background-color: var(--no-mask-bg);
}

.mask-off-title {
  color: var(--no-mask);
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 104px;
  line-height: 100%;
}

.mask-wrong-bg {
  background-color: var(--wrong-mask-bg);
}

.mask-wrong-title {
  color: var(--wrong-mask);
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 104px;
  line-height: 100%;
}

.text-title {
  color: var(--blue-gray);
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 104px;
  line-height: 100%;
}

.video {
  border: 12px solid #38D3EB;
  width: 200px;
}

.gif {
  height: 200px;
  width: 200px;
}

/* Paulo*/

.mask-neutral-bg {
  background-color: var(--neutral-mask-bg);
}

.mask-neutral-title {
  color: var(--neutral-mask);
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 104px;
  line-height: 100%;
}

.showAdviceNeutral{
  color: var(--blue-gray); 
  font-size: 50px; 
  font-weight: bold; 
  font-family:'DM Sans', sans-serif; 
}

.showAdviceON{
  color: var(--mask);
  font-size: 50px; 
  font-weight: bold; 
  font-family:'DM Sans', sans-serif; 
}

.showAdviceOFF{
  color: var(--no-mask);
  font-size: 50px; 
  font-weight: bold; 
  font-family:'DM Sans', sans-serif; 
}

.showAdviceWRONG{
  color: var(--wrong-mask);
  font-size: 50px; 
  font-weight: bold; 
  font-family:'DM Sans', sans-serif; 
}